%div.container.rounded
  - arr = @list.to_a
  - @list.each do |word|

    %div.row
      %div.col-6.col-sm-3.hello1.top-buffer.roundLeft{:id => "hello"}
        %a.text
          %p.hello1 #{word.word}
      %div.col-6.col-sm-5.hello2.top-buffer.roundCenter
        %p.hello2 #{word.showWord(word, @lang)}
      
      %div.col-12.modalRound
        = image_tag "down_arrow.png", "class" => "imageArrow", 'role' => 'button', 'data-target' => '#exampleModal', 'data-toggle' => 'modal', :type => 'button'
        / %p this is the component for the modal




      %div.col-12.col-sm-4.top-buffer.roundRight.sampleImage
        = image_tag "sample.png", 'class' => "imageDef"
        - @id = word.id
        = link_to "Edit", edit_word_path(@id)

    / this is the logic for creating the modal component
    #exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Modal title
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            = image_tag "sample.png", 'class' => "imageModal"
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

