
%div.editContainer
	%h1.editWordTitle Edit Word

	= simple_form_for :words,:id => 'this', :html=> {class: "editWord"}, :url => save_words_path(:id => @word.id), :method => :post do |f|
		= f.input :spanish, :required => false, input_html:{value: @word.spanish}, label_html:{class: "editLabel"}, wrapper_html: { class: 'formGroupEdit' }
		
		= f.input :word, :required => false, input_html:{value: @word.word}, label: 'English', label_html:{class: "editLabel"}
		= f.input :zapoteco, :required => false, input_html:{value: @word.zapoteco}, label_html:{class: "editLabel"}
		= f.input :category, :required => false, input_html:{value: @word.category}, placeholder: @word.category, label_html:{class: "editLabel"}
		= f.button :submit, :class => "editSubmit"












