%div.modWidth
	%p this is the edit page



	= simple_form_for :words,:id => 'this', :url => save_words_path(:id => @word.id), :method => :post do |f|
		= f.input :spanish, input_html:{value: @word.spanish}
		= f.input :word, input_html:{value: @word.word}, label: 'English'
		= f.input :zapoteco, input_html:{value: @word.zapoteco}
		= f.input :category, input_html:{value: @word.category}, placeholder: @word.category
		= f.button :submit











