<!DOCTYPE html>
%html
  %head

    %title>Diidxazaa
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width, initial-scale=1">
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'

  %body
    %div.container-fluid.topNavbar
      %div.mobileCont
        %a#mobileBtn{onclick: "toggleNavMenu(event)"} link
      %div#containerToggle.navCont
        =link_to("Diidxazaa", root_path, class: "linkBrand linkNav")
        =link_to("Home", root_path, class: "linkNav")
        =link_to("Vocab", allWords_words_path, class: "linkNav")
        =link_to("Gramatica", root_path, class: "linkNav")
        =link_to("Video", root_path, class: "linkNav")
        =link_to("Login", root_path, class: "linkNav")




    = yield


