/ <!DOCTYPE html>
= javascript_pack_tag 'application'


%html
  %head
    %title>Diidxazaa
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light1.fixed-top
      %a.navbar-brand{:href => "#{root_path}"} DiidxaZaa
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => "#{root_path}"} Home
          %li.nav-item
            %a.nav-link{:href => "#{word_path(:id => "want")}"} Vocabulario
          -# %li.nav-item
          -#   %a.nav-link{:href => "#{root_path}"} Gramatica
          -# %li.nav-item
          -#   %a.nav-link{:href => "#{root_path}"} Tracductor
          -# %li.nav-item
          -#   %a.nav-link{:href => "#{root_path}"} Videos  
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %a.nav-link{:href => "#{addWord_word_path(0)}"} Add Word
            %a.nav-link{:href => "#{destroy_user_session_path}"} Edit Word
            %a.nav-link{:href => "#{destroy_user_session_path}"} Sign Out
          - else
            %a.nav-link{:href => "#{new_user_session_path}"} Sign In
          -# %a.nav-link{:href => "#{root_path}", :method => :delete} 
    = yield


